<?xml version="1.0"?>
<robot name="will_be_ignored">
    <link name="link">
        <visual>
            <geometry>
                <sphere radius="3.0"/>
            </geometry>
        </visual>
        <inertial>
            <mass value="1"/>
            <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
        </inertial>
    </link>
</robot>